* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  position: relative;
}

#header {
  background-image: url("../header-bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b4;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: white;
  position: relative;
}

#header .container * {
  cursor: pointer;
}

#header .container h2 {
  font-size: 40px;
}

#header .container h3 {
  font-size: 20px;
}

#search-for-movie {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: flex;
  width: 80%;
  border: 1.5px solid #9ca3af;
  border-radius: 5px;
  z-index: 1;
}

#search-for-movie label {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
  flex: 1;
}

#search-for-movie i {
  color: #9ca3af;
  padding-inline: 10px;
  display: block;
  width: 10%;
}

#search-for-movie input {
  padding: 5px;
  font-size: 17px;
  border: none;
  outline: none;
  flex: 1;
  color: #6b7280;
}

#search-for-movie button {
  padding: 5px 35px;
  border-radius: 0 5px 5px 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  color: #374151;
}

#content {
  position: relative;
  height: calc(100vh - 200px);
  max-height: 100%;
  margin-block: 50px;
}

#content .empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #dfdddd;
}

.empty.hide {
  display: none;
}

#content .container {
  width: 50%;
  margin: 0 auto;
}

#content .container .movie {
  display: flex;
  padding-block: 20px;
  gap: 40px;
  align-items: center;
  border-bottom: 1.5px solid #e5e7eb;
}

#content .container .movie > img {
  width: 100px;
  height: 150px;
  border-radius: 15px;
}

.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.star-icon {
  width: 15px;
}

.details {
  margin-bottom: 18px;
  display: flex;
  gap: 30px;
  color: #111827;
}

.plot {
  color: #6b7280;
}

.add-to-watchlist,
.remove {
  display: flex;
  padding: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  gap: 5px;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}
