*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container
{
  width: 80%;
  text-align: center;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.container .row
{
  border: 2px solid #DDD;
  padding: 14px;
  width: fit-content;
  margin: auto;
  background-color: #0075FF;
}
.container .row img
{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.container .row p
{
  max-width: 400px;
  padding: 20px;
  color: #FFF;
  line-height: 1.3;
}
span
{
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-transform: capitalize;
}